/*CONTACTO*/

.contacto-banner{
  display: flex;
  justify-content: center;
    img {
      width:60%;
      height:20vh;
    }
}
 
.titulo{
  font-weight: 700;
  font-size: 2rem;
  margin: auto;
  padding: 2rem;
  display: flex;
  justify-content: center;
}

.contenedor-formulario{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contacto {
  background-color: #f5f5f5;
  padding: 30px;
  display: flex;
  flex-direction: column;
  
  width: 50%;
}

.contacto-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;

    legend{
      display: flex;
      justify-content: center;
    }

    .si-no{
      display: flex;
      justify-content: center;
        label{
          margin: 10px;
        }
    }

    textarea {
      float: left;
      width: 100%;
      height: auto;
      resize: none;
    }

    .botones {
      display: flex;
      justify-content: center;
    }

    .botones input {
      margin: 10px;
    }
}





