/*index*/
header{
  display: flex;
  justify-content: center;

    .imagenBanner{
      width:60%;
      height:20vh;
    }
}


.index-main{
  margin: 0;
  background-color: #f5f5f5;
}

.titulo-pagina{
  font-weight: 700;
  font-size: 2rem;
  margin: auto;
  padding: 2rem;
  display: flex;
  justify-content: center;
}




.section{
  display: flex;
  flex-direction: column;
}

.index-div{
  display: flex;
  justify-content: space-around;

  .index-article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5rem;
    padding: 5rem;
  
      img{
        width: 532px;
        height: 532px;
        padding: 1rem;
        border-radius: 5px;
        
      }
  
      h2{
        font-weight: 400;
        font-size: 2rem;
        padding: 1rem;
      }
  
      p{
        font-size: 1rem;
        padding: 1rem;
      }
  
      button{
        font-size: 16px;
        text-align: center;
        border-radius: 8px;
        padding: 10px 20px;
        background-color: #f5f5dc;
        color: #000000;
        border: 2px solid;
      }
  }
}



.video-div{
  display: flex;
  justify-content: space-around;

  .video-article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5rem;
    padding: 5rem;
  
    .video-article__titulo{
      font-weight: 400;
      font-size: 2rem;
      padding: 1rem;
    }
  
    .video-article__texto{
      font-size: 1rem;
      padding: 1rem;
    }
  
    .video-article__video{
      width: 500px;
      height: 300px;
    }
  }
}





















