@import"index";
@import"personajes";
@import"store";
@import"universo";
@import"contacto";


$estilos: (
  padding: 5px,
  tfuente: 1rem,
  grosor: 700
);
//*Trabajado en .footer-divdos p*//

$imagen:(
  padding: 5px,
  ancho: 50px,
  alto:50px
);
//*Trabajado en .footer-divdos img*//
@mixin navbar {
  top: 0;
  background-color: #f5f5dc;
}
@mixin imagenespequeñas {
  width: 150px;
  height: 150px;
}


@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap');

/*cosas generlaes, voy a usar selectores por etiqueta para elementos de html que quiero que sean iguales en todas las paginas*/
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 100;
}

/*general nav*/
/*NAV BOOTSTRAP*/
.navbar{
  @include navbar
}

.navbar img{
  @include imagenespequeñas
}

//*Traje mediante el extend una regla de la pagina de personajes*//
.titulo h1{
  @extend .personajesTitulo;
}

.navbar-light .navbar-nav .nav-link {
  color: rgb(0 0 0);
}
.navbar-collapse{
  font-size: 20px;
  font-weight: 400;
  flex-grow: initial;
}


/*footer*/
footer{
  background-color: #000000;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 15px;
  justify-items:auto
}

footer h6{
  color: #f5f5f5;
  font-size: 1rem;
  margin: 8px;
}

footer p{
  color: #f5f5f5;
  font-size: 1rem;
  margin: 8px;
}

.footer-div{
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: flex-start;
}
.footer-divdos{
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
  flex-direction: inherit;
  align-items: flex-end;
}

.footer-divdos i{
  font-size: 2.5rem;
  color: #ffffff;
  padding: 10px;

}

.bi-instagram:hover{
  color: #ec1fad;
  transition: 0.2s;
}
.bi-twitter:hover{
  color: #1d9bf0;
  transition: 0.2s;
}
.bi-github:hover{
  color: #f5f5dc;
  transition: 0.2s;
}
.bi-pinterest:hover{
  color: #b7071c;
  transition: 0.2s;
}


.footer-divdos img{
  background-color: map-get($map: $imagen, $key:padding);
  background-color: map-get($map: $imagen, $key:ancho);
  background-color: map-get($map: $imagen, $key:alto);
}
.footer-divdos p{
  background-color:  map-get($map: $estilos , $key:padding);
  background-color:  map-get($map: $estilos , $key:tfuente);
  background-color:  map-get($map: $estilos , $key:grosor);
}


/*ESTILOS MOBILE*/
@media only screen and (max-width:990px){
  /*INDEX*/
  .index-div{
    flex-direction: column;
    margin: 0.5rem;
    padding: 0.5rem;
  }
  .index-article{
    margin: auto;
    padding: auto;
  }
  
  .video-div{
    flex-direction: column;
    margin: 0.5rem;
    padding: 0.5rem;
  }
  .video-article{
    margin: 2px;
    padding: 2px;
  }

  /*STORE*/
  .page-content{
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(12, 1fr);
  }

  /*UNIVERSO*/
  .paises{
    grid-template-columns: 1fr;
  }

  /*personajes*/
  .personajesGlosario{
  align-items: center;
  }
  
  .personajesTitulo{
  margin: auto;
  }
  
  .container-personaje{
  flex-direction: column;
  }
  
  .contenedor-imagen{
  display: flex;
  flex-direction: column;
  align-items: center;
  }
}

@media only screen and (max-width:576px){
  /*estilos generales*/
  nav{
    flex-direction: column;
  }

  .navbar img {
    width: 60px;
    height: 60px;
}

  .footer-div{
    padding: 2px;
    justify-content: space-evenly;
    flex-direction: column;
  }
  
  .footer-divdos {
    padding: 2px;
    flex-direction: column;
  }

  /*INDEX*/
  .index-div{
    flex-direction: column;
    align-items: center;
  }
  .index-article{
    margin: 2rem;
    padding: 2rem;
  }

  .index-article img{
    width: 250px;
    height: 250px;
  }

  .video-article{
    margin: 2rem;
    padding: 2rem;
  }

  .video-div{
    flex-direction: column;
    align-items: center;
  }

  /*personajes*/
  .personajesGlosario{
    align-items: center;
  }

  .personajesTitulo{
    margin: auto;
  }

  .container-personaje{
  flex-direction: column;
  }

  .contenedor-imagen{
    display: flex;
    flex-direction: column;
  align-items: center;
  }

  /*store*/
  .page-content{
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(32, 1fr);
  }

  .product-container{
    margin: 5px;
  }

  /*contacto*/
  textarea{
    width: 200px;
    height: 200px;
  }
  h2{
    font-size: 15px;
  }
  .contacto{
    width: 100%;
  }
  .contacto-container{
    width: 100%;
  }
  
  /*universo*/
  .paises{
    grid-template-columns: 1fr;
  }

  .grid-universo {
    max-width: 540px;
    grid-template-areas:
        "maria"
        "rose"
        "sina";
  }
}

