@import"index";
@import"personajes";
@import"store";
@import"universo";


@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap');

/*cosas generlaes, voy a usar selectores por etiqueta para elementos de html que quiero que sean iguales en todas las paginas*/
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 100;
}

/*general nav*/
/*NAV BOOTSTRAP*/
.navbar{
  top: 0;
  background-color: #fdfdeb;
}

.navbar img{
  width: 150px;
  height: 150px;
}

.titulo h1{
    font-size: 2rem;
    font-weight: 700;
}

.navbar-light .navbar-nav .nav-link {
  color: rgb(0 0 0);
}
.navbar-collapse{
  font-size: 20px;
  font-weight: 400;
  flex-grow: initial;
}


/*footer*/
footer{
  background-color: #000000;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 15px;
  justify-items:auto
}

footer h6{
  color: whitesmoke;
  font-size: 1rem;
  margin: 8px;
}

footer p{
  color: #f5f5f5;
  font-size: 1rem;
  margin: 8px;
}

.footer-div{
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: flex-start;
}
.footer-divdos{
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
  flex-direction: inherit;
  align-items: flex-end;
}

.footer-divdos i{
  font-size: 2.5rem;
  color: #ffffff;
  padding: 10px;
}

.footer-divdos img{
  padding: 5px;
  width: 50px;
  height: 50px;
}
.footer-divdos p{
  padding: 5px;
  font-size: 1rem;
  font-weight: 700;
}



/*SHOP*/
.banner img{
  width: 100%;
  height: 30vh;
}

.store-intro h2{
  font-size: 30px;
  font-weight: 700;
  margin: 20px;

  display: flex;
  flex-direction: inherit;
  justify-content: center;
}

.shop-main{
  background-color: #f5f5f5;
}

.page-content{
  display:grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(9, 1fr);
  justify-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;  
}

.card {
  width: 100%;
  height: 550px;
  position: inherit;
  padding: 5px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  word-wrap: break-word;
  background-color: #f5f5f5;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.2);
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-img, .card-img-bottom, .card-img-top {
  width: 270px;
  height: 380px;
}

.color-button {
  color: #000000;
  background-color: #f5f5dc;
  border-color: #000000;

  display: flex;
  justify-content: center;
}

/*CONTACTO*/
.contacto-banner img{
  display: inline-block;
  width: 100%;
  height: 30vh;
}

.contacto{
  background-color: #f5f5f5;
  padding: 30px;
  display: flex;
  flex-direction: column;
  width: 50%;
}

.contacto-container{
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
}

textarea{
  float: left;
  width: 100%;
  height: auto;
  resize: none;
}

.botones{
  display: flex;
}
.botones input{
  margin: auto;
}


/*Universo*/
.universo-banner{
  width: 100%;
  height: 30vh;
}

main{
  background-color: #f5f5f5;
  width: 100%;
}

.universo-titulo{
  padding: 10px;
  font-weight: 600;

  display: flex;
  justify-content: center;
}

.universo-titulo2{
  font-weight: 300;
  padding: 10px;
  text-decoration: 1px underline #000000;

  display: flex;
  justify-content: center;
  
}

.universo-titulo3{
  font-weight: 300;
  padding: 10px;
  text-decoration: 1px underline #000000;

  display: flex;
  justify-content: center;
  
}

.paises{
  margin: 20px;
  padding: 1em;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}

.card {
  width: 100%;
  height: 100%;
  position: inherit;
  padding: 5px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  word-wrap: break-word;
  background-color: #f5f5f5;
  background-clip: border-box;
  border: 2px solid rgba(0,0,0,.2);
}

.card-body {
  flex: 1 1 auto;
  margin: 5px;
  padding: 5px;
}

.card img{
  width: 200px;
  height: 200px;
}

.grid-universo{
  width: 100%;
  display: grid;
  grid-template-areas:
  "maria rose"
  "sina sina";
  grid-template-columns: 2fr, 2fr;
  grid-template-rows: 2fr, 2fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.maria{
  margin: 5px;
  padding: 5px;
  border: 1px solid #000000;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-area: maria;
}

.maria h2{
  font-size: 2rem;
  font-weight: 400;
}

.maria img{
    width: 200px;
    height: 200px;
}

.maria p{
  font-size: 1rem;
  font-weight: 100;
}

.rose{
  margin: 5px;
  padding: 5px;
  border: 1px solid #000000;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-area: rose;
}

.rose h2{
  font-size: 2rem;
  font-weight: 400;
}

.rose img{
    width: 200px;
    height: 200px;
}

.rose p{
  font-size: 1rem;
  font-weight: 100;
}

.sina{
  margin: 5px;
  padding: 5px;
  border: 1px solid #000000;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-area: sina;
}

.sina h2{
  font-size: 2rem;
  font-weight: 400;
}

.sina img{
    width: 200px;
    height: 200px;
}

.sina p{
  font-size: 1rem;
  font-weight: 100;
}



/*ESTILOS MOBILE*/
@media only screen and (max-width:992px){
  /*INDEX*/
  .index-div{
    flex-direction: inherit;
    margin: 2rem;
    padding: 2rem;
  }
  .personajes-article{
    margin: 5px;
    padding: 5px;
  }
  .universo-article{
    margin: 5px;
    padding: 5px;
  }

  .index-divdos{
    flex-direction: inherit;
    margin: 2rem;
    padding: 2rem;
  }
  .shop-article{
    margin: 5px;
    padding: 5px;
  }
  .contacto-article{
    margin: 5px;
    padding: 5px;
  }
  .video-div{
    flex-direction: inherit;
    margin: 2rem;
    padding: 2rem;
  }
  .video-article{
    margin: 5px;
    padding: 5px;
  }
  .video-dos-article{
    margin: 5px;
    padding: 5px;
  }
  
  .gallery__item:nth-child(4) {
    grid-column-start: span 3;
  }
  .gallery__item:nth-child(5) {
  grid-column-start: span 3;
  grid-row-start: span 3;
  }
  .gallery__item:nth-child(6) {
  grid-row-start: span 3;
  }
  .gallery__item:nth-child(10) {
    grid-column-start: span 1;
    grid-row-start: span 3;
  }

  /*STORE*/
  .page-content{
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(12, 1fr);
  }

  /*UNIVERSO*/
  .paises{
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width:576px){
  /*estilos generales*/
  nav{
    flex-direction: column;
  }

  .footer-div{
    padding: 5px;
    justify-content: space-evenly;
    flex-direction: column;
  }
  
  .footer-divdos {
    padding: 5px;
    flex-direction: column;
  }

  /*INDEX*/
  .index-div{
    flex-direction: column;
  }
  .personajes-article{
    margin: 2rem;
    padding: 2rem;
  }

  .personajes-article__imagen {
    width: 420px;
    height: 420px;
  }

  .universo-article{
    flex-direction: column;
    margin: 2rem;
    padding: 2rem;
  }

  .universo-article__imagen {
    width: 420px;
    height: 420px;
  }

  .index-divdos{
    flex-direction: column;
  }

  .shop-article{
    margin: 2rem;
    padding: 2rem;
  }

  .shop-article__imagen {
    width: 420px;
    height: 420px;
  }

  .contacto-article{
    margin: 2rem;
    padding: 2rem;
  }

  .contacto-article__imagen {
    width: 420px;
    height: 420px;
  }

  .video-article{
    margin: 2rem;
    padding: 2rem;
  }

  .video-dos-article {
    margin: 2rem;
    padding: 2rem;
  }

  .video-div{
    flex-direction: column;
  }

  .gallery__item:nth-child(9) {
    grid-row-start: span 4;
  }

  .gallery__item:nth-child(10) {
    grid-column-start: span 2;
    grid-row-start: span 2;
  }

  /*personajes*/
  .personajesGlosario{
    align-items: center;
  }

  .personajesTitulo{
    margin: auto;
  }

  /*store*/
  .page-content{
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(32, 1fr);
  }

  .product-container{
    margin: 5px;
  }

  /*contacto*/
  textarea{
    width: 200px;
    height: 200px;
  }
  h2{
    font-size: 15px;
  }
  .contacto{
    width: 100%;
  }
  .contacto-container{
    width: 100%;
  }
  
  /*universo*/
  .paises{
    grid-template-columns: 1fr;
  }

  .grid-universo {
    max-width: 540px;
    grid-template-areas:
        "maria"
        "rose"
        "sina";
  }
}

